.ninehundred {
  color: hsl(52, 0%, 15%);
}

.eighthundred {
  color: hsl(52, 0%, 20%);
}

.sevenhundred {
  color: hsl(52, 0%, 30%);
}

.sixhundred {
  color: hsl(52, 0%, 38%);
}

.fivehundred {
  color: hsl(52, 0%, 45%);
}

.fourhundred {
  color: hsl(52, 0%, 55%);
}

.threehundred {
  color: hsl(52, 0%, 73%);
}

.twohundred {
  color: hsl(52, 0%, 90%);
}

.hundred {
  color: hsl(52, 0%, 97%);
}
