/* Header */
.header {
  background-color: yellow;
  text-align: center;
  height: 48px;
}

.header-title {
  font-size: 18px;
}

/* Introduction */
.introduction {
  background-color: red;
  text-align: center;
  height: 256px;
}

.introduction-title {
  font-size: 18px;
}

.introduction-text {
  font-size: 12px;
}

.introduction-image {
  border-radius: 50%;
  height: 96px;
}

/* Eggs */
.eggs {
  background-color: blue;
  text-align: center;
  height: 256px;
}

.eggs-title {
  font-size: 18px;
}

/* Pigs */
.pigs {
  background-color: orange;
  text-align: center;
  height: 256px;
}

.pigs-title {
  font-size: 18px;
}

/* Contact */
.contact {
  background-color: purple;
  text-align: center;
  height: 256px;
}
